.card-component-wrapper {
  background-color: #222831ba;
  color: white;
  width: 100%;
}

.card-component-wrapper .ant-card-head-title {
  color: white;
  white-space: normal;
  word-wrap: break-word;
}

.author-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  margin: 1rem 0 1rem 0;
}

.ant-card .ant-card-actions {
  background: #35374bb0;
}

.ant-card .ant-card-actions > li > span > .anticon {
  color: white;
}

.timestamps {
  margin-top: 16px;
  font-size: 14px;
  color: #888;
}

.timestamps p {
  margin: 0;
}