.blog-page-wrapper {
    height: 100vh;
    max-width: 780px;
    width: 100%;
    background-color: #222831ef;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: auto; 
    overflow: hidden;
    color: white;
    display: flex;
    flex-direction: column;
  }
  
  .buttons-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }
  
  .content-wrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    gap: 1rem;
    overflow-y: auto;
    padding-bottom: 10px;
    padding-right: 10px;
  }  